.p-section--our-indicators {
  .list-group__item--only-caption_extended {
    align-items: flex-start;
    /**bem**/
    .list-group__item {
      &-figure {
          margin: 24px;
      }
      &-caption-body {
          margin: 0;
          font-size: 90px;
          @include media(">=lg") {
            font-size: 80px;
          };
          @include media(">=xl") {
              font-size: 90px;
          };
      }
      &-caption-bottom {
          margin-top: 10px;
      }
    }
  }

  .our-indicators__link {
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    line-height: 1.125em;
    margin: 20px;
    @include media(">=md") {
      font-size: 25px;
      line-height: 20px;
      margin: 40px 0;
    };
  }

}
