.list-group__item {
  &-figure {
    text-align: center;
    margin-bottom: 30px;

  }

  &-image {
    max-width: 100%;
  }

  &-label {
    text-align: center;
    font-size: 18px;
    line-height: (20/18)+em;
  }



  /**
   * with border-gradient
   */
   &--with-border-gradient {
     @include border-gradient($base-color--secondary, $base-color--primary,6px,vertical);
   }

}
/** modifiactors **/

.list-group__item--only-caption_extended {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
  /**bem**/
  .list-group__item {
    &-figure {
      margin: 32px;
    }
    &-caption {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-self: center;
    // top
    &-top {
      color:  #282828;
      font-size: 18px;
      align-self: center;
    }
    // body
    &-body {
      &--font-gradient {
        @include font-gradient($base-color--primary,$base-color--secondary,235deg,$base-color--primary,0%,73%);
      }
      font-size: 100px;
      font-weight: 700;
      line-height: 1;
      margin: 16px 0;
      align-self: center;
    }
    // bottom
      &-bottom {
        font-size: 18px;
        font-weight: 700;
        line-height: (20/18)+em;
      }
    }
  }
}

/** product **/
.list-group__item--product {
  margin-bottom: 45px;
  &:hover {
    .list-group__item-link {
      color: $color-link--hover;
    }
  }
  /** bem **/
  .list-group__item {

      &-link {
        display: block;
        text-align: center;
        font-weight: 700;
        color: inherit;
          &:hover {
            color: $color-link--hover;
          }
          /**modificators**/
          /**
           * colored  / underlined
          */
          &--underlined {
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
          &--colored {
            color: palette(primary);
          }
      }

      &-label {
        /**modificators**/
        /**
         * big
        */
        &--big {
          font-size: 25px;
        }

      }

      &-priceListLink {
          text-align: center;
          display: block;
          margin-top: 15px;
          font-size: 15px;
          text-decoration: underline;
      }
  }
}

/** product horizontal **/

.list-group__item--product-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    @include media(">=sm") {
      flex-wrap: nowrap;
    };
    /** bem **/
    .list-group__item {
      &-figure {
        flex: 0 0 auto;
        @include media(">=sm") {
          margin-bottom: 0;
        };
        @include media(">=lg") {
          max-width: 100px;
        };
      }
      &-link {
        text-align: left;
        @include media(">=sm") {
          margin-left: 15px;
        };
      }
      &-label {
        font-size: 16px;
        line-height: 1.125em;
        font-weight: normal;
      }
    }
}

/** partner **/
.list-group__item--partner {
  /** bem **/
  .list-group__item {
    &-figure {
      margin-bottom: 0;
    }
  }

}
