.header-contacts {

  &__phones {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
  }
  &__phone {
      font-size: 25px;
      font-weight: 700;
      padding-left: 15px;
  }

  &__action {
      text-align: right;
  }

}
