{% from "@modal-macro" import Modal, ActionModal %}
<div class="site-modals">

    <!-- /********************************** Модальные окна действий (формы) *************************************/ -->

    <!--Вход-->
    {% set measureIcon = '/assets/images/icons/login.svg' | path  %}
    {% call ActionModal(
      {
        id: 'login',
        mods: ['440'],
        title: 'Войти',
        icon: measureIcon,
        wrapper: 'action-modal__content'
      })
    -%}
    <div class="action-modal__annonce"></div>
      <form class="form">
        <div class="form-group">
          <label class="form-label" for="user_email--login">Email:</label>
          <input type="text" class="form-control" id="user_email--login" name="user_email--login" placeholder="ivanov@mail.ru">
        </div>
        <div class="form-group">
          <label class="form-label" for="user_password--login">Пароль:</label>
          <input type="password" class="form-control" id="user_password--login" name="user_password--login" placeholder="введите пароль">

        </div>
        <button class="c-button c-button--primary form-button form-button--submit modal__button mt-2" type="submit">Войти</button>
      </form>
        <div class="success-container"></div>
    {%- endcall %}

    <!--Регистрация -->
    {% set measureIcon = '/assets/images/icons/register.svg' | path  %}
    {% call ActionModal(
      {
        id: 'register',
        mods: ['440'],
        title: 'Зарегистрироваться',
        icon: measureIcon,
        wrapper: 'action-modal__content'
      })
    -%}
    <div class="action-modal__annonce"></div>
      <form class="form">
        <div class="form-group">
          <label class="form-label" for="user_name--register">Email:</label>
          <input type="text" class="form-control" id="user_name--register" name="user_name--register" placeholder="Иван Иванов">
        </div>
        <div class="form-group">
          <label class="form-label" for="user_email--register">Email:</label>
          <input type="text" class="form-control" id="user_email--register" name="user_email--register" placeholder="ivanov@mail.ru">
        </div>
        <div class="form-group">
          <label class="form-label" for="user_phone--register">Телефон:</label>
          <input type="text" class="form-control" id="user_phone--register" name="user_phone--register" placeholder="+7 987 654 32 10">
        </div>
        <div class="form-group">
          <label class="form-label" for="user_password--register">Пароль:</label>
          <input type="password" class="form-control" id="user_password--register" name="user_password--register" placeholder="Желаемый пароль">
        </div>
        <button class="c-button c-button--primary form-button form-button--submit modal__button mt-2" type="submit">создать аккаунт</button>
      </form>
        <div class="success-container"></div>
    {%- endcall %}

    <!--Обратный звонок-->
    {% set measureIcon = '/assets/images/icons/call-back.svg' | path  %}
    {% call ActionModal(
      {
        id: 'call-back',
        mods: ['440'],
        title: 'Обратный звонок',
        icon: measureIcon,
        wrapper: 'action-modal__content'
      })
    -%}
      <div class="action-modal__annonce">Оставьте заявку и наш менеджер свяжется с Вами</div>
      <form class="form">
        <div class="form-group">
          <label class="form-label" for="user_name--call-back">Имя:</label>
          <input type="text" class="form-control" id="user_name--call-back" name="user_name--call-back" placeholder="Иван Иванов">
        </div>
        <div class="form-group">
          <label class="form-label" for="user_phone--call-back">Телефон:</label>
          <input type="text" class="form-control" id="user_phone--call-back" name="user_phone--call-back" placeholder="+7 987 654 32 10">

        </div>
        <button class="c-button c-button--primary form-button form-button--submit modal__button mt-2">Оставить заявку</button>
      </form>
      <div class="success-container"></div>
    {%- endcall %}


</div>
