.p-section--about-intro {
  position: relative;
  padding-top: 170px;

  &:before {
    content: "производим";
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    left: 0;
    font-size: 200px;
    font-weight: bold;
    color: rgba(244, 244, 244, 0.66);
    text-align: center;
  }
}
