{% extends "@section" %}
{% block section %}
  <div class="container">
    <div class="row product-group">
      <div class="col-12">{% render "@section-title", sectionConfig %}</div>
      {# Тут будет компонент какой-нить #}
      <div class="product-group__links">
        {% for product in productList %}
          <a class="product-group__link" href="#{{ product.id}}" rel="m_PageScroll2id">{{ product.title }}</a>
        {% endfor %}
      </div>
      {% for product in productList %}
        {% render "@product-group-item", product, true %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
