{% extends "@section" %}
{% block section %}
  <div class="container">
    <div class="dealers__map">

    </div>
    <div class="dealers__control text-center my-3">
        <h3 class="label dealers__label">Выберите ваш город из списка</h3>
        <select data-placeholder="Выберите ваш город из списка..." class="form-control chosen-select">
          <option value="Санкт-Петербург" selected="selected">Санкт-Петербург</option>
          <option value="United Kingdom">Москва</option>
          <option value="Afghanistan">Сталинград</option>
        </select>
    </div>
    <div class="dealers__items mt-5">
        <div class="dealers__item">
          <h3 class="label dealers__label text-center">Магазин “Сантехник”</h3>
          <div class="row no-gutters dealers__contacts">
            <div class="col-12 col-md-6 col-xl-4 my-2 mb-xl-0">г. Москва ул Луначарского 80 корп 5</div>
            <div class="col-12 col-md-6 col-xl-2 my-2 mb-xl-0">+7 (3812) 50-44-44</div>
            <div class="col-12 col-md-6 col-xl-3 my-2 mb-xl-0"><noindex><a href="http://santexnik_omsk.ru" rel="nofollow" target="_blank">http://santexnik_omsk.ru</a></noindex></div>
            <div class="col-12 col-md-6 col-xl-3 my-2 mb-xl-0">Ежедневно с 10-00 до 20-00</div>
          </div>
        </div>
        <div class="dealers__item">
          <h3 class="label dealers__label text-center">Магазин “Сантехник”</h3>
          <div class="row no-gutters dealers__contacts">
            <div class="col-12 col-md-6 col-xl-4 my-2 mb-xl-0">г. Москва ул Луначарского 80 корп 5</div>
            <div class="col-12 col-md-6 col-xl-2 my-2 mb-xl-0">+7 (3812) 50-44-44</div>
            <div class="col-12 col-md-6 col-xl-3 my-2 mb-xl-0"><noindex><a href="http://santexnik_omsk.ru" rel="nofollow" target="_blank">http://santexnik_omsk.ru</a></noindex></div>
            <div class="col-12 col-md-6 col-xl-3 my-2 mb-xl-0">Ежедневно с 10-00 до 20-00</div>
          </div>
        </div>
    </div>
    <div class="row">

    </div>
  </div>
{% endblock %}
